:root {
    --default-font: "Poppins", sans-serif;
    --border-check: 1px solid red;
    --height-space: 10dvh;
}

* {
    font-family: var(--default-font);
}

.logcontainer {
    display: grid;
    place-content: center;
    background-color: azure;
    border-radius: 20px;
    /* border: 1px solid black; */
    margin: 10dvh 30dvw 0 30dvw;
    align-items: center;
    padding: 5dvh;
    box-shadow: 5px 8px #888888
}

form .logcontainer{
    text-align: center;
}

.logcontainer h1, 
.logcontainer h2, 
.logcontainer h3, 
.logcontainer a{
    text-align: center;
    padding: 2dvh 0;
}

.logcontainer label {
    display: inline-block;
    padding: 1dvh 0dvh;
}

.logcontainer input {
    display: inline;
    height: 4dvh;
    font-size: medium;
    width: 30dvw;
}

.logcontainer input[type="submit"] ,.logcontainer button{
    margin: 1dvh 5dvw 0 5dvw;
    height: 5dvh;
    font-weight: bold;
    text-transform: uppercase;
    width: 20dvw;
}

.logcontainer button {
    margin: 2dvh 5dvw;
    background-color: rgb(185, 180, 180);
    border: 1px solid gray;
}

.logcontainer a {
    margin: 2dvh;
}

.logcontainer button.placement .icon-wrapper {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 20dvw;
}

.logcontainer button.placement .icon-wrapper label {
    display: inline;
    padding-left: 2dvw;
}

.logcontainer button.placement{
    display: grid;
    place-content: center;
    padding: 20px;
    background-color: rgb(185, 180, 180);
    border: 1px solid black;
    border-radius: 20px;
}
