:root {
    --default-font: "Poppins", sans-serif;
    --border-check: 1px solid red;
    --height-space: 10dvh;
}

* {
    font-family: var(--default-font);
}

form h1, h3, a{
    text-align: center;
}

label {
    display: inline-block;
    padding: 1dvh 0dvh;
}

input {
    display: inline;
    height: 4dvh;
    font-size: medium;
    width: 30dvw;
}

.logcontainer {
    display: grid;
    place-content: center;
    background-color: azure;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5dvh 30dvw 10dvh 30dvw;
    align-items: center;
    padding: 5dvh;
    box-shadow: 5px 8px #888888
}

input[type="submit"] , button{
    margin: 5dvh 5dvw 0 5dvw;
    height: 5dvh;
    font-weight: bold;
    text-transform: uppercase;
    width: 20dvw;
}

button {
    margin: 2dvh 5dvw;
    background-color: rgb(185, 180, 180);
    border: 1px solid gray;
}

a {
    margin-top: 1dvh;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 20dvw;
}

.icon-wrapper label {
    display: inline;
    padding-left: 2dvw;
}

button.placement{
    display: grid;
    place-content: center;
    padding: 20px;
    background-color: rgb(185, 180, 180);
    border: 1px solid black;
    border-radius: 20px;
}
