:root {
    --default-font: Arial, Helvetica, sans-serif;
    --border-check: 2px solid red;
    --border-check2: 2px solid blue;
    --border-check3: 2px solid orange;
    --height-space: 10dvh;
    --space-header-elem: 6dvw
}

* {
    font-family: var(--default-font);
}

/* Home CSS
.homepage {
    background-color: white;
    margin: 0 var(--space-header-elem) ;
    height: 90dvh;
}

.homepage h1,header {
    text-align: center;
}
Home CSS End*/


/* Header CSS
header {
    padding: 1dvh 0;
    width: 100%;
    background: rgb(13,132,4);
    background: linear-gradient(0deg, rgba(13,132,4,0.9921218487394958) 0%, rgba(69,162,39,1) 56%, rgba(141,201,83,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.brand_logo_nav {
    height: 6dvh;
    width: 10dvw;
    margin-left: var(--space-header-elem);
    background: rgba(196, 241, 196, 0.53)
}

nav {
    display: flex;
    justify-content: space-around;
    margin-right: var(--space-header-elem);
}


nav ul, nav span{
    padding: 1dvh 1dvw;
}

nav ul:hover{
    background-color: rgb(141, 247, 135);
    border-radius: 4px;
}

Header CSS End*/



.profile_contents {
    display: flex;
    border: var(--border-check);
    height: 100dvh;
    overflow: hidden;
}

.user_profile {
    border: var(--border-check2);
    flex: 1;
    background-color: white;
}

.pet_profile {
    border: var(--border-check3);
    flex: 1;
    background-color: skyblue;
}

.profile_bg {
    background-color: aquamarine;
    margin: 2vh 1dvw;
    border-radius: 12px;
}

.profile_img {
    display: inline-block;
}

.profile_cred {
    display: inline-block;
    vertical-align: top;
    margin: inherit;
}

.profile_cred h1, h2, h3, a {
    text-align: left;
    padding: auto;
}

.profile_img img{
    display: inline;
    border-radius: 30px;
    margin: 2dvh 2dvw;
    height: 25dvh;
    width: 10dvw;
}

/* .user_profile h1{
    display: inline;
    font-weight: bold;
} */