<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="demo.css">
    <title>Pet Landing</title>
</head>
<body>
    <header>
        <nav id="pet_nav" class=" bg-green-100 p-5 text-lg">
            <div id="branding" class=" w-fit ">
                <img src="" alt="brand_logo">
                <h1 class="text-xl">Brand name</h1>
            </div>
            <ul>
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Profile</a></li>
                <li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Support</a></li>
                <li><a href="javascript:void(0)">Settings</a></li>
            </ul>
            <div id="account_buttons" class="">
                <button class="font-bold rounded-lg">Login</button>
                <button class="font-bold bg-green-600 text-white rounded-full">Sign Up</button>
            </div>
        </nav>
    </header>
    <div id="hero" class="pl-32 pt-24">
        <section id="hero_desc">
            <h1 class="font-bold text-7xl max-w-screen-md">
                Saving animals from the brink of death
            </h1>
            <p class="pt-10 text-2xl max-w-screen-sm" >
                This is st. peter veterinary appointment
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet omnis porro laborum odit maiores necessitatibus velit, suscipit qui. Necessitatibus dignissimos libero architecto aliquam tempora ipsa temporibus. Perspiciatis dolorem tempore consequuntur.
            </p>
        </section>
        <aside>
            <img src="" alt="hero_photo">
        </aside>
    </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
</html>