<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="demo.css">
    <title>Pet Landing</title>
</head>
<body>
    <nav id="pet_nav" class="border-2 border-red-200 p-5">
        <div id="branding" class="border-2 border-green-200 w-fit">
            <img src="" alt="brand_logo">
            <h1>Brand name</h1>
        </div>
        <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Profile</a></li>
            <li><a href="javascript:void(0)">About Us</a></li>
            <li><a href="javascript:void(0)">Support</a></li>
            <li><a href="javascript:void(0)">Settings</a></li>
        </ul>
    </nav>
</body>
<script src="https://cdn.tailwindcss.com"></script>
</html>