<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St. Pet-ER Web App</title>
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/login.css">
</head>
<body>
    <header class="p-1">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h3>ST PET-ER APPOINTMENTS</h3>
            </div>
            <div class="col-sm-6">
                <nav class="p-2">
                    <a href="">Home</a>
                    <a href="">Transaction</a>
                    <a href="">Profile</a>
                    <a href="">About</a>
                    <a href="">Login</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="p-5 login_container">
        <!-- <h1 class="">This is section with background</h1> -->
        <div class="login_child">
            <h2 style="font-weight: bold;" class="mt-3">Welcome to St. Pet-ER</h2>
            <h4 class="mb-5">Where animals are given another life</h4>

            <input type="email" name="user_email" placeholder="Enter your email" id="user_email" class="login_elem">
            <input type="password" name="user_password" placeholder="Enter your password" id="user_password" class="login_elem">
            
            <a href="" class="login_elem mt-4"><h6>Forgot Password?</h6></a>
            <a href="" class="login_elem" onclick="alert(reg_pop());"><h6>Register a new account</h6></a>
        </div>
    </div>

    <footer class="p-3">
        <h6>Copyright 2022 | Privacy Policy</h6>
    </footer>
</body>
<script>
    var reg_pop = () => {
        return "Modal will be added soon"
    };
</script>
<script src="js/bootstrap.min.js"></script>
</html>